<head>
        {% load static %}
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <link rel="stylesheet" type="text/css" media="screen" href="{% static 'css/fiche.css' %}" />
    <title>Register</title>
</head>
<body>
{% block content%}
    <h1>Create new account</h1>
    <form method="POST">
        {% csrf_token %}
        {{form.as_p}}
        <button>Register</button>
   </form>
{% endblock %}
</body>