body{
    background-color: gray;
    display: inline-block;
    flex-wrap: wrap;
    animation: 1s ease-out 0s 1 slideInFromLeft;

}

div{
    background-color: black;
	font-family: Roboto, sans serif;
	display:flex;
	align-items:center;
	color: rgb(255, 255, 255);
	margin: 1vh;
    transition-duration: 400ms;
    height: 60px;
    width: -webkit-fill-available;
    position: relative;

}