body{
    background-color: gray;
    display: flex;
    flex-wrap: wrap;
    animation: 1s ease-out 0s 1 slideInFromLeft;

}

div{
    background-color: black;
	font-family: Roboto, sans serif;
	display:flex;
	justify-content:center;
	align-items:center;
	color: rgb(255, 255, 255);
	margin: 1vh;
    transition-duration: 400ms;
    height: 10vw;
    width: 430px;
    opacity: 0.8;
    position: relative;

}
[class^=Genres]:hover
{
	transition-duration:400ms;
	opacity: 1;
	width: 440px;
}
a
{
color: white;
text-decoration: none;
}
div.Genres1{
    background-image:  url(/static/img/amonAmarth.jpeg);
    background-color: #cccccc; /* Used if the image is unavailable */
    background-repeat: no-repeat; /* Do not repeat the image */
    background-size: cover; /* Resize the background image to cover the entire container*/ 
}
div.Genres2{
    background-image:  url(/static/img/JohnColtrane.png);
    background-color: #cccccc; /* Used if the image is unavailable */
    background-repeat: no-repeat; /* Do not repeat the image */
    background-size: cover; /* Resize the background image to cover the entire container*/
    background-position-y: -50px;
    background-size: 500PX;
    background-position-x: -10px;
 
}
div.Genres3{
    background-image:  url(/static/img/Ryon.jpeg);
    background-color: #cccccc; /* Used if the image is unavailable */
    background-repeat: no-repeat; /* Do not repeat the image */
    background-size: cover; /* Resize the background image to cover the entire container*/ 
}
div.Genres4{
    background-image:  url(/static/img/Prince.jpeg);
    background-color: #cccccc; /* Used if the image is unavailable */
    background-repeat: no-repeat; /* Do not repeat the image */
    background-size: cover; /* Resize the background image to cover the entire container*/ 
}
div.Genres5{
    background-image:  url(/static/img/LittleBig.jpeg);
    background-color: #cccccc; /* Used if the image is unavailable */
    background-repeat: no-repeat; /* Do not repeat the image */
    background-size: cover; /* Resize the background image to cover the entire container*/ 
}
div.Genres6{
    background-image:  url(/static/img/jimi.jpeg);
    background-color: #cccccc; /* Used if the image is unavailable */
    background-repeat: no-repeat; /* Do not repeat the image */
    background-size: cover; /* Resize the background image to cover the entire container*/ 
}
div.Genres7{
    background-image:  url(/static/img/Heilung);
    background-color: #cccccc; /* Used if the image is unavailable */
    background-repeat: no-repeat; /* Do not repeat the image */
    background-size: cover; /* Resize the background image to cover the entire container*/ 
    background-position-y: -87px;
    background-size: 500PX;
}

span{
    display: grid;
}
span.auth{

    background-color: black;
    border-width: unset;
    border-style: inset;
    align-items: center;
    justify-content: center;
}
