body{
    background-color: gray;
    display: flex;
    flex-wrap: wrap;
    animation: 1s ease-out 0s 1 slideInFromLeft;

}

div.artiste{
    background-color: black;
	font-family: Roboto, sans serif;
	display:flex;
	align-items:center;
	color: rgb(255, 255, 255);
	margin: 1vh;
    transition-duration: 400ms;
    height: 60px;
    width: -webkit-fill-available;
    position: relative;
    width: 98vw;
}
[class^=artiste]:hover
{
	transition-duration:400ms;
	opacity: 1;
	height: 75px;
}
a
{
color: white;
text-decoration: none;
}
.gris{
    color: gray;
    margin-left: 2vw;
}
.groupe{
    margin-left: 48vw;
}
span.new{
    display: flex;
    align-items: center;
    margin-top: 21px;
    margin-bottom: 20px;
    margin-left: 43vw;
    border-radius: 64px 64px 64px 64px;
    -moz-border-radius: 64px 64px 64px 64px;
    -webkit-border-radius: 64px 64px 64px 64px;
    border: 3px solid #000000;
    background-color: #0000a9;
}
p.blank
{
    white-space: pre;
}