body{
    background-color: gray;
    display: flex;
    flex-wrap: wrap;
    animation: 1s ease-out 0s 1 slideInFromLeft;

}

div{
    background-color: black;
	font-family: Roboto, sans serif;
	display:flex;
	justify-content:center;
	align-items:center;
	color: rgb(255, 255, 255);
	margin: 1vh;
    transition-duration: 400ms;
    height:10vw;
    width: -moz-available;
    opacity: 0.8;
    position: relative;

}
div:hover
{
	transition-duration:400ms;
    opacity: 1;
    height: 15vw;
}
a
{
    color: white;
    text-decoration: none;
}