<head>
        {% load static %}
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <link rel="stylesheet" type="text/css" media="screen" href="{% static 'css/fiche.css' %}" />
    <title>Ajouter un artiste</title>
</head>
<body>
    <h1>Nouvel Artiste</h1>
    {% if envoi %}Votre message a bien été envoyé !{% endif %}

    <form action="/addArtiste" method="post">
        {% csrf_token %}
        {{ form }}
        <input type="submit" value="OK">
    </form>
    <span class="auth"><a href="{% url 'addSubGenre' 1%}"><p class="blank">  Add Subgenre  </p></a></span>
</body>