<head>
        {% load static %}
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <link rel="stylesheet" type="text/css" media="screen" href="{% static 'css/fiche.css' %}" />
    <title>Nouveau subgenre</title>
</head>
<body>
    <h1>Nouveau Subgenre</h1>
    <form action="/addSubGenre/0" method="post">
        {% csrf_token %}
        {{ form }}
        <input type="submit" value="OK">
    </form>

</body>