<!DOCTYPE html>
<html lang="en">
        {% load static %}

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <link rel="stylesheet" type="text/css" media="screen" href="{% static 'css/fiche.css' %}" />
    <title>Fiche artiste</title>
</head>
<body>
    
    <h1>{{artiste.nom}}</h1>
    {% if artiste.subGenre %}
    <p>{{artiste.subGenre}}</p>
    {%else%}
    <p>pas de description</p>
    {%endif%}
    {%if artiste.desc%}
    <p>{{artiste.desc}}</p>
    {%else%}
    <p>pas de description</p>
    {%endif%}
</body>