<!DOCTYPE html>
<html lang="en">
        {% load static %}

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <link rel="stylesheet" type="text/css" media="screen" href="{% static 'css/styleIndex.css' %}" />
    <title>Index</title>
</head>
<body>
    <div>
    
        <a href="{% url 'login_url' %}"><div><p> Login </div></a></p>

    </div>  
    <div>
    
        <a href="{% url 'register_url' %}"><div><p> register </div></a></p>
    </div>


</body>