<!DOCTYPE html>
<html lang="en">
<head>
    {% load static %}
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <link rel="stylesheet" type="text/css" media="screen" href="{% static 'css/styleListe.css' %}" />
    <title>Liste des artistes</title>
</head>
<body>
    {%for artiste in artiste%}
    <div class = "artiste">
        
    <p><a href=""></a> </p>
        <a href="{% url 'ficheArtiste' artiste.id %}"><div class="Genres"><p class="groupe">{{ artiste.nom }}</div></a></p>
            {% if artiste.subGenre %}
            <p class="gris">{{artiste.subGenre}}</p>
            {%else%}
            <p> </p>
            {%endif%}
        </div>
        {% empty %}
        {% endfor %}
  
</body>
</html>