<!DOCTYPE html>
<html lang="en">
        {% load static %}

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <link rel="stylesheet" type="text/css" media="screen" href="{% static 'css/style.css' %}" />
    <title>Accueil</title>
</head>
<body>
        
        
        {% for genre in list_genre %}
        <div>
    
            <a href="{% url 'listeArtiste' genre.id  %}"><div class="Genres{{genre.id}}"><p>{{ genre.nomGenre }}</div></a></p>
    
        </div>
        {% empty %}
        {% endfor %}

        <span>
        {% if user.is_authenticated %}
            <span class="auth"><a href="{% url 'logout_url'%}">Logout</a></span>
            {% else %}
            <span class="auth"><a href="{% url 'login_url'%}">Login</a></span>
            <span class="auth"><a href="{% url 'register_url'%}">Register</a></span>
        {% endif %}
        <span class="auth"><a href="{% url 'addArtiste'%}">Add Artiste</a></span>
        <span class="auth"><a href="{% url 'addSubGenre' 0 %}">  Add Subgenre </a></span>
    </span>
        </body>

</html>
